name: CI

# We can specify which Github events will trigger a CI build
on: push

# Now define a single job "build" (but could define more)
jobs:

  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.8, 3.9]

    # a job is a seq of steps
    steps:

    # our steps will be: check out repo, set up Python, install dependencies, run PyTest
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -r requirements.txt
        pip3 install -e .

    - name: Test with PyTest
      run: |
        pytest --cov=inflammation.models tests/test_models.py